// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  // --ep-color-primary: red;
  --ep-border-radius-base: 10px;
}

.ep-message-box {
  --ep-messagebox-border-radius: 10px !important;
}
body {
  font-family:
    Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  border-radius: 3px;
}
::-webkit-scrollbar-button {
  width: 6px;
  height: 0;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background: 0 0;
}
::-webkit-scrollbar-thumb {
  background: #245fd9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #245fd9;
}
::-webkit-scrollbar-thumb:active {
  background-color: #245fd9;
}
/* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
} */
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background-color: #d0d0d0;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 6px;
  background-color: #d0d0d0;
  -webkit-border-radius: 3px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #d0d0d0;
}
